@(currentPage: ListPage[(Todo, Option[Category])], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash, messages: Messages)

@import helper._
@import b3.vertical.fieldConstructor

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.TodoController.list(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@main {
    <h1>@Messages("todos.list.title", currentPage.total)</h1>
    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        @b3.form(action=routes.TodoController.list()) {
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by todo text...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        }
        <a class="btn success" id="add" href="@routes.TodoController.create()">Add a new todo</a>
    </div>

    @Option(currentPage.items).filterNot(_.isEmpty).map { todos =>
        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header(2, "やること")
                    @header(3, "期限")
                    @header(4, "終了日")
                    @header(5, "Category")
                    <th>完了</th>
                </tr>
            </thead>
            <tbody>
                @todos.map {
                    case (todo, category) => {
                        <tr style='@todo.doneAt.map(_=>"text-decoration: line-through;").getOrElse("")'>
                            <td><a href="@routes.TodoController.edit(todo.id.get)">@todo.text</a></td>
                            <td>
                                @todo.deadline.map(_.format("yyyy'年'M'月'd'日'")).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @todo.doneAt.map(_.format("yyyy'年'M'月'd'日'")).getOrElse { <em>-</em> }
                            </td>
                            <td>
                                @category.map(_.name).getOrElse { <em>-</em> }
                            </td>
                            <td>
                              @todo.doneAt.map { _ =>
                                @b3.form(routes.TodoController.open(todo.id.get)) {
                                  <input type="submit" value="Open this todo" class="btn btn-xs">
                                }
                              }.getOrElse {
                                @b3.form(routes.TodoController.close(todo.id.get)) {
                                  <input type="submit" value="Close this todo" class="btn btn-xs">
                                }
                              }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + todos.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }.getOrElse {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    }

}

            